body {
    background: #232529;
    color: #aab6ca;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.app-header {
    width: 100%;
    background: #3e73dd;
    background: linear-gradient(130deg, #3e73dd, #2856b3);
    height: 45px;
    position: fixed;
    z-index: 10000;
}

.app-header-inner {
    display: flex;
}

.app-header-logo {
    height: 20px;
    padding: 12.5px;

    color: white;
    font-weight: bold;
}

.app-content {
    padding-top: 45px;
}

@media(max-width: 1239px) {
    .container {
        width: 1080px;
    }
}

@media(max-width: 1079px) {
    .container {
        width: 100%;
    }
}